.btns_link{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border: none;
    background:none;
    text-decoration: underline;
    /* color: rgb(76, 76, 233); */
    color: #0d6efd;
}
.post_cont{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: auto;
    margin-bottom: 1.5em;
}
.read{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

