*{
    padding: 0;
    margin: 0;
}
.cont{
    width: 48%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 3rem 3rem;
    background-color: #D3E0EA;
}
img{
    width: 100vw;
    height: 100vh;
    top: 0;
    position:absolute;
    z-index: -1;
}
.inp{
    width: 80%;
    padding: 5px;
    padding-left: 18px;
    border-radius: 10px;
    border: none;
}
.formFlex{
    display: flex;
    flex-direction: column;
    gap: 3;
    height: 63vh;
    justify-content: space-around;
    
}
.con{
    padding-left: 15%;
}
.btns{
    margin-left: 23%;
    width: 40%;
}
@media screen and (max-width: 480px) {
    .cont {
      
      width: 90%;
    }
  }